<!DOCTYPE html>

<html>
	<head>
		<title>Contact Us</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/mystylesheet.css') }}"> 
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		</head>
		<body>
		<div id="abcd"  class="about">
			<div class="header">
				<h1> About Us</h1>
				
				<p>
				
				<h2>We are providing quality car rent in dhaka to prestigeous companies and government bodies.

				You can rely on our car rent service 100%.

				With us you can –

				rent a car on monthly basis.
				rent car on daily basis
				In our collection, we have sedan, SUV, luxury cars and many more.

				to rent a car in dhaka now, just fill out the form below, and we will call in you in just an hour.</h2></br></br></br></br>
				
			
				<a href="/index"  class="btn btn-primary" >BOOK YOUR TICKET HERE</a> 
				</p>
			
			</div>
		</div>
		<div id="abcde" class="about">
		<div class="header">
		<h3> FIND THE RIGHT CAR FOR YOU.</br> We have more than a thousand cars for you to choose</h3>
		</div>
		</div>
		
		<h1 style="color: black; margin: 100px 35% 100px;">  </h1>
		
		<div id="Car_Model" class="about">
		<div class="header">

		</div>
		</div>
		
		<div id="Car_Model1" class="about">
		<div class="header">

		</div>
		</div>
		
		</body>
		
</html>	